<h2>Assetliste</h2>

<div class="row">
    <div class="col-5">
        <table class="table table-sm table-striped">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let asset of assets$| async">
                <td><a [routerLink]="['assets', asset.id]">{{ asset.name }}</a></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
