<h2>Assetdetails</h2>

<form>
    <div class="formControl">
        <label for="Name">Name</label>
        <input id="Name" placeholder="Name">
    </div>
    <div class="formControl"> 
        <label for="WPK">WPK</label>
        <input id="WPK" placeholder="WPK">
    </div>
    <div class="formControl"> 
        <label for="ISIN">ISIN</label>
        <input id="ISIN" placeholder="ISIN">
    </div>

    <div class="buttonPanel">
        <button>Speichern</button>
        <button>Abbrechen</button>
    </div>
</form>
