<form>
    <input class="filter">
    <select class="filter">
        <option selected></option>
        <option value="Konto">Konto</option>
        <option value="Depot">Depot</option>
    </select>
    <span class="filter">
        <input type="checkbox" id="Aufwand" name="art" value="Aufwand">
        <label for="Aufwand"> Aufwand</label>
        <input type="checkbox" id="Ertrag" name="art" value="Ertrag">
        <label for="Ertrag"> Ertrag</label>
        <input type="checkbox" id="CPD" name="art" value="CPD">
        <label for="CPD"> CPD</label>
        <input type="checkbox" id="Aktiv" name="art" value="Aktiv">
        <label for="Aktiv"> Aktiv</label>
        <input type="checkbox" id="Passiv" name="art" value="Passiv">
        <label for="Passiv"> Passiv</label>
        <input type="checkbox" id="Kontokorrent" name="art" value="Kontokorrent">
        <label for="Kontokorrent"> Kontokorrent</label>
    </span>
</form>