body {
    font-family: sans-serif;
}

nav {
    background-color: blue;
    
}

nav div {
    font-size: larger;
    margin: 10px 10px;
    display: inline;
}

nav div a {
    color: white;
    text-decoration: none;
}
nav div a.active-link {
    font-weight: bolder;
}

#content {
    margin: 10px 10px;
}
