# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Mac-Filesystem
**/.DS_Store

# Eclipse-Metadata
.metadata/**
**/.settings/**
**/.project
**/.classpath
**/target/**
**/db/**

# Javascript Entwicklung
**/node/**
**/node_modules/**


domains/buchhaltung/.classpath
frontend/.vscode/settings.json
