<form [formGroup]="buchenForm!" class="mb-4">
    <div class="row mb-4">
        <div class="col-2"></div>
        <div class="col-10">
            <div class="form-check form-check-inline">
                <input (click)="setVorgang('Kauf')" class="form-check-input" type="radio" name="vorgang" value="Kauf" checked>
                <label class="form-check-label" for="inlineCheckbox1">Kauf</label>
            </div>
            <div class="form-check form-check-inline">
                <input (click)="setVorgang('Verkauf')" class="form-check-input" type="radio" name="vorgang" value="Verkauf">
                <label class="form-check-label" for="inlineCheckbox2">Verkauf</label>
            </div>
            <div class="form-check form-check-inline">
                <input (click)="setVorgang('Einnahme')" class="form-check-input" type="radio" name="vorgang" value="Einnahme">
                <label class="form-check-label" for="inlineCheckbox2">Einnahme</label>
            </div>
            <div class="form-check form-check-inline">
                <input (click)="setVorgang('Einlieferung')" class="form-check-input" type="radio" name="vorgang" value="Einlieferung">
                <label class="form-check-label" for="inlineCheckbox1">Einlieferung</label>
            </div>
            <div class="form-check form-check-inline">
                <input (click)="setVorgang('Auslieferung')" class="form-check-input" type="radio" name="vorgang" value="Auslieferung">
                <label class="form-check-label" for="inlineCheckbox2">Auslieferung</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2 text-end">
            <label for="asset" class="col-form-label">Datum</label>
        </div>
        <div class="col-4">
            <input type="date" formControlName="datum" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-2 text-end">
            <label for="asset" class="col-form-label">Asset</label>
        </div>
        <div class="col-4">
            <input type="text" formControlName="asset" class="form-control" [typeahead]="assetNames">
        </div>
    </div>
    <div class="row">
        <div class="col-2 text-end">
            <label for="depot" class="col-form-label">Depot</label>
        </div>
        <div class="col-4">
            <input type="text" formControlName="depot" class="form-control" [typeahead]="depotNamen">
        </div>
    </div>
    <div class="row">
        <div class="col-2 text-end">
            <label for="menge" class="col-form-label">Menge</label>
        </div>
        <div class="col-2"></div>
        <div class="col-2">
            <div class="input-group">
                <input formControlName="menge" type="text" class="form-control text-end">
                <select formControlName="einheit" class="input-group-text">
                    <option>St.</option>
                    <option>EUR</option>
                    <option>USD</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2 text-end">
            <label for="preis" class="col-form-label">Preis</label>
        </div>
        <div class="col-2"></div>
        <div class="col-2">
            <div class="input-group">
                <input formControlName="preis" type="text" class="form-control text-end">
                <select formControlName="waehrung" class="input-group-text">
                    <option *ngFor="let waehrung of waehrungen">{{ waehrung }}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2 text-end">
            <label for="verrechnungskonto" class="col-form-label">Verrechnungskonto</label>
        </div>
        <div class="col-4">
            <input type="text" formControlName="verrechnungskonto" class="form-control" [typeahead]="kontoNamen">
        </div>
    </div>
    <div class="row">
        <div class="col-2 text-end">
            <label for="Valuta" class="col-form-label">Valuta</label>
        </div>
        <div class="col-4">
            <input type="date" formControlName="valuta" class="form-control">
        </div>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-4">Kosten</div>
        <div class="col-2">Betrag</div>
        <div class="col-1"></div>
    </div>

    <div *ngFor="let umsatz of umsaetze.controls; index as i">
        <div [formGroup]="asFromGroup(umsatz)" class="row">
            <div class="col-2"></div>
            <div class="col-4">
                <input formControlName="konto"
                        [typeahead]="kontoNamen"
                        class="form-control">
            </div>
            <div class="col-2">
                <div class="input-group">
                    <input formControlName="betrag" type="text" class="form-control text-end">
                    <select formControlName="waehrung" class="input-group-text">
                        <option *ngFor="let waehrung of waehrungen">{{ waehrung }}</option>
                    </select>
                </div>
            </div>
            <div class="col-1">
                <button (click)="addUmsatz()" class="btn btn-dark">+</button>
                <button (click)="removeUmsatz(i)" class="btn btn-dark ms-2">-</button>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-2 text-end">
            <label for="ausmachenderBetrag" class="col-form-label">Ausmachender Betrag</label>
        </div>
        <div class="col-2">
            <div class="input-group">
                <input type="text" id="ausmachenderBetrag" disabled class="form-control text-end" value="28634,78">
                <select class="input-group-text">
                    <option selected>EUR</option>
                    <option>USD</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-1 btn-group mt-4">
            <button (click)="doBuche()" [disabled]="!buchenForm?.valid" class="btn btn-primary">Buchen</button>
        </div>
    </div>
</form>
