<form>
    <div class="formControl">
        <label for="Typ">Typ</label>
        <select id="Typ" disabled="true">
            <option value="Konto" selected>Konto</option>
            <option value="Depot">Depot</option>
        </select>
    </div>
    <div class="formControl"> 
        <label for="Name">Name</label>
        <input id="Name" placeholder="Name" disabled="true">
    </div>
    <div class="formControl">
        <label for="Art">Art</label>
        <select id="Art" disabled="true">
            <option value="Aktiv">Aktiv</option>
            <option value="Aufwand" selected>Aufwand</option>
            <option value="CPD">CPD</option>
            <option value="Ertrag">Ertrag</option>
            <option value="Kontokorrent">Kontokorrent</option>
            <option value="Passiv">Passiv</option>
        </select>
    </div>

    <div class="buttonPanel">
        <button>Bearbeiten</button>
    </div>
</form>
