nav {
    border: 1px solid blue;
}

nav ul {
    font-size: larger;
    list-style: none;
}

nav ul li {
    display: inline;
}

nav ul li a {
    margin: 5px;
    width: 100%;
    color: blue;
    text-decoration: none;
}
nav ul li a.active-link {
    font-weight: bolder;
}

