<table>
    <thead>
        <tr>
            <th class="left">Name</th>
            <th>WPK</th>
            <th>ISIN</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a [href]="'verwaltung/asset/42'">Commerzbank AG</a></td>
            <td class="center">803200</td>
            <td class="center">DE0008032001</td>
        </tr>
        <tr>
            <td>Telekom AG</td>
            <td class="center">555550</td>
            <td class="center">DE0000555505</td>
        </tr>
    </tbody>
</table>
