<table>
    <thead>
        <tr>
            <th class="left">Name</th>
            <th>Type</th>
            <th>Art</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a [href]="kontoDetailUrl+'42'">Giro</a></td>
            <td class="center">Konto</td>
            <td class="center">Kontokorrent</td>
        </tr>
        <tr>
            <td>Comdirect-Depot</td>
            <td class="center">Depot</td>
            <td class="center">Aktiv</td>
        </tr>
    </tbody>
</table>