<div class="row">
    <aside class="col-1">
        <p class="fw-bold">Verwaltung</p>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" routerLink="/verwaltung/kontorahmen">Kontorahmen</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/verwaltung/assets">Assets</a>
            </li>
        </ul>
    </aside>
    
    <div class="col-11">
        <router-outlet></router-outlet>
    </div>
</div>


