<h3>Buchungen</h3>

<h4>Konto: {{konto?.name}}</h4>

<nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <button class="btn btn-info me-1" [disabled]="isFirst()" (click)="onFirst()">
          <span>&laquo;</span>
        </button>
      </li>
      <li class="page-item"><button class="btn btn-info me-1" [disabled]="isFirst()" (click)="onPrev()">&lsaquo;</button></li>
      <li class="page-item"><input class="form-control text-primary text-center" type="text" value="{{page.number + 1}}"></li>
      <li class="page-item"><button class="btn btn-info me-1 ms-1" [disabled]="isLast()" (click)="onNext()">&rsaquo;</button></li>
      <li class="page-item">
        <button class="btn btn-info me-1" [disabled]="isLast()" (click)="onLast()">
          <span>&raquo;</span>
        </button>
      </li>
    </ul>
  </nav>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Verwendung</th>
        <th scope="col">Empfänger</th>
        <th scope="col">Konto</th>
        <th scope="col" class="text-center">Valuta</th>
        <th scope="col" class="text-end">Ausgabe</th>
        <th scope="col" class="text-end">Einnahme</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let buchung of kontobuchungen">
        <td>{{buchung.verwendung}}</td>
        <td>{{buchung.empfaenger}}</td>
        <td>{{buchung.konto}}</td>
        <td class="text-center">{{buchung.valuta | date:'mediumDate'}}</td>
        <td class="text-end">{{buchung.ausgabe | number:'.2'}}</td>
        <td class="text-end">{{buchung.einnahme | number:'.2'}}</td>    
      </tr>
    </tbody>
  </table>
