<div>
    <div class="form-check form-check-inline">
        <input (click)="setFormular('buchung')" class="form-check-input" type="radio" name="formular" value="buchung" checked>
        <label class="form-check-label" for="inlineCheckbox1">Buchen</label>
    </div>
    <div class="form-check form-check-inline">
        <input (click)="setFormular('handel')" class="form-check-input" type="radio" name="formular" value="handel">
        <label class="form-check-label" for="inlineCheckbox2">Handel</label>
    </div>
    <div class="form-check form-check-inline">
        <input (click)="setFormular('ertrag')" class="form-check-input" type="radio" name="formular" value="handel">
        <label class="form-check-label" for="inlineCheckbox2">Ertrag</label>
    </div>
</div>

<div *ngIf="formular === 'buchung'">
    <h2>Buchen</h2>
    <app-buchen-formular></app-buchen-formular>
</div>

<div *ngIf="formular === 'handel'"> 
    <h2>Handel</h2>
    <app-handel-formular></app-handel-formular>
</div>

<div *ngIf="formular === 'ertrag'"> 
    <h2>Ertrag</h2>
    <app-ertrag-formular></app-ertrag-formular>
</div>

<a class="mt-4" [routerLink]="['']">Zurück</a>
