<div class="container-fluid">
    <div class="row">
        <h3 class="col-2 ml-3">Stammdaten</h3>
    </div>
    <div class="row">
        <div class="col-1">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link" routerLink="konten" routerLinkActive="active">Konten</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="asset" routerLinkActive="active">Assets</a>
                </li>
            </ul>
        </div>
        <div class="col-11">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
