<h3>Depot-Buchungen</h3>

<h4>Depot: {{konto?.name}}</h4>

<table class="table table-striped">
    <thead>
        <th scope="col">Asset</th>
        <th scope="col" class="text-end">Menge</th>
        <th scope="col" class="text-end">Kaufwert</th>
    </thead>
    <tbody>
        <tr *ngFor="let bestand of konto?.bestaende">
            <td>{{bestand.asset.name}}</td>
            <td class="text-end">{{bestand.menge | number:'.3'}}</td>
            <td class="text-end">{{bestand.kaufwert | number:'.2'}}</td>
        </tr>
    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <button class="btn btn-info me-1" [disabled]="isFirst()" (click)="onFirst()">
          <span>&laquo;</span>
        </button>
      </li>
      <li class="page-item"><button class="btn btn-info me-1" [disabled]="isFirst()" (click)="onPrev()">&lsaquo;</button></li>
      <li class="page-item"><input class="form-control text-primary text-center" type="text" value="{{page.number + 1}}"></li>
      <li class="page-item"><button class="btn btn-info me-1 ms-1" [disabled]="isLast()" (click)="onNext()">&rsaquo;</button></li>
      <li class="page-item">
        <button class="btn btn-info me-1" [disabled]="isLast()" (click)="onLast()">
          <span>&raquo;</span>
        </button>
      </li>
    </ul>
</nav>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Verwendung</th>
        <th scope="col" class="text-center">Valuta</th>
        <th scope="col" class="text-end">Menge</th>
        <th scope="col" class="text-end">Gebühren</th>
        <th scope="col" class="text-end">Ausmachender Betrag</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let buchung of depotbuchungen">
        <td>{{buchung.verwendung}}</td>
        <td class="text-center">{{buchung.valuta | date:'mediumDate'}}</td>
        <td class="text-end">{{buchung.menge | number:'.2'}}</td>
        <td class="text-end">{{buchung.gebuehren | number:'.2'}}</td>
        <td class="text-end">{{buchung.betrag | number:'.2'}}</td>    
      </tr>
    </tbody>
  </table>
