<p>kontodetails works!</p>

<form [formGroup]="kontoForm">
    <div class="form-group">
        <label for="name">Name</label>
        <input 
            type="text" 
            class="form-control" 
            formControlName="name" 
            id="name" 
            placeholder="Name"
            autofocus>
    </div>
    <div class="form-group">
        <label for="kontoart">Kontoart</label>
        <select class="form-control" formControlName="art" id="kontoart">
            <option *ngFor="let art of keys(kontoarten)" [ngValue]="art">{{art}}</option>
        </select>
    </div>
</form>
<button class="btn btn-primary" (click)="onSpeichern()" [disabled]="!kontoForm.valid">Speichern</button>
<button class="btn btn-light" (click)="onAbbrechen()">Abbrechen</button>
