<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Name</th>
        <th scope="col">Art</th>
        <th scope="col">#</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let konto of kontorahmen | async">
        <td>{{konto.type}}</td>
        <td>{{konto.name}}</td>
        <td>{{konto.art}}</td>
        <td>
            <button class="btn btn-light" (click)="onEdit(konto.id)">Ändern</button>
        </td>
      </tr>
    </tbody>
  </table>
