<h4>Kauf</h4>

<form [formGroup]="kaufForm">
    <div class="mb-3 row">
        <label for="asset" class="col-1 col-form-label text-right">Asset</label>
        <select class="ml-3 form-select col-5" name="asset" id="asset" formControlName="asset">
            <option>Commerzbank</option>
        </select>
    </div>
    <div class="mb-3 row">
        <label for="menge" class="col-1 col-form-label text-right">Menge</label>
        <div class="col-1">
          <input type="text" class="form-control" id="menge" formControlName="menge">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="preis" class="col-1 col-form-label text-right">Preis</label>
        <div class="col-1">
          <input type="text" class="form-control" id="preis" formControlName="preis">
        </div>
    </div>
</form>
