/* You can add global styles to this file, and also import other style files */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/*
 * Tabellen / Listenformat
 */
caption {
    font-size: larger;
    font-weight: bold;
}

table {
    border-collapse: collapse;
}

table thead {
    border-bottom: 1px solid black;
}

table tbody tr:nth-child(even) {
    background-color: beige;
}

td.left, th.left {
    text-align: left;
}

td.right, th.right {
    text-align: right;
}

td.center, th.center {
    text-align: center;
}

/*
 * Formular-Foramat
 */

 .formControl {
    margin-top: 5px;
    width: 100%;
}

 label {
    width:150px;
    display: inline-block;
    text-align: right;
    padding-right: 5px;
}

input, select {
    width: 300px;
}

.buttonPanel {
    margin-top: 10px;
    margin-left: 155px;
}

.buttonPanel button {
    width: 100px;
    margin-right: 5px;
}
