<h3>Kontoumsatz</h3>

<table class="table table-striped table-sm">
    <thead>
      <tr class="d-flex">
        <th scope="col" class="col-2">Empfänger</th>
        <th scope="col" class="col-2">Verwendung</th>
        <th scope="col" class="col-1">Valuta</th>
        <th scope="col" class="col-1">Konto</th>
        <th scope="col" class="col-1 text-right">Auszahlung</th>
        <th scope="col" class="col-1 text-right">Einzahlung</th>
      </tr>
    </thead>
    <tbody>
      <tr class="d-flex" *ngFor="let buchung of buchungen()">
        <td class="col-2">{{buchung.empfaenger}}</td>
        <td class="col-2">{{buchung.verwendung}}</td>
        <td class="col-1">
            <span *ngFor="let umsatz of reorderedUmsatz(buchung.umsaetze)">
                {{umsatz.valuta}}<br>
            </span>
        </td>
        <td class="col-1">
            <span *ngFor="let umsatz of reorderedUmsatz(buchung.umsaetze)">
                {{umsatz.konto.name}}<br>
            </span>
        </td>
        <td class="col-1 text-right">
            <span *ngFor="let umsatz of reorderedUmsatz(buchung.umsaetze)">
                {{ (umsatz.betrag<0?-umsatz.betrag:'') | number:'1.2-2'}}<br>
            </span>
        </td>
        <td class="col-1 text-right">
            <span *ngFor="let umsatz of reorderedUmsatz(buchung.umsaetze)">
                {{ (umsatz.betrag>0?umsatz.betrag:'') | number:'1.2-2'}}<br>
            </span>
        </td>
      </tr>
    </tbody>
</table>

<a class="btn btn-light" routerLink="/buchhaltung">Zurück</a>
