<h3>Kontoumsatz</h3>

<table class="table table-striped table-sm">
    <thead>
      <tr class="d-flex">
        <th scope="col" class="col-2">Empfänger</th>
        <th scope="col" class="col-2">Verwendung</th>
        <th scope="col" class="col-2">Konto</th>
        <th scope="col" class="col-1">Valuta</th>
        <th scope="col" class="col-1 text-right">Auszahlung</th>
        <th scope="col" class="col-1 text-right">Einzahlung</th>
      </tr>
    </thead>
    <tbody>
      <tr  class="d-flex">
        <td class="col-2">Moi</td>
        <td class="col-2"></td>
        <td class="col-2">Tagesgeld</td>
        <td class="col-1">01.08.2020</td>
        <td class="col-1 text-right">150,00</td>
        <td class="col-1 text-right"></td>
      </tr>
      <tr  class="d-flex">
        <td class="col-2">SWB</td>
        <td class="col-2">Nebenkosten</td>
        <td class="col-2">
            Giro<br>
            Strom<br>
            Gas
        </td>
        <td class="col-1">
            10.08.2020<br>
            10.08.2020<br>
            10.08.2020
        </td>
        <td class="col-1 text-right">120,00</td>
        <td class="col-1 text-right">
            <br>
            40,00<br>
            80,00
        </td>
      </tr>
    </tbody>
</table>

<a class="btn btn-light" routerLink="/buchhaltung">Zurück</a>
