<h2>Kontoumsatz Giro</h2>

<div class="dataItem">
    <span class="label">Typ</span>
    <span class="data">Konto</span>
</div>
<div class="dataItem">
    <span class="label">Name</span>
    <span class="data">Giro</span>
</div>
<div class="dataItem">
    <span class="label">Saldo</span>
    <span class="data">1042,00</span>
</div>

<div class="card">
    <table>
        <caption>Bestand</caption>
        <thead>
            <tr>
                <th>Asset</th>
                <th class="right">Menge</th>
                <th class="right">Kaufwert</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Commerzbank AG</td>
                <td class="right">120</td>
                <td class="right">32,78</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="card">
    <table>
        <caption>Umsätze</caption>
        <thead>
            <tr>
                <th>Verwendung</th>
                <th>Empfänger</th>
                <th>Konto</th>
                <th>Valuta</th>
                <th class="right">Auszahlung</th>
                <th class="right">Einzahlung</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Sparen</td>
                <td></td>
                <td>Tagesgeld</td>
                <td>21.04.2021</td>
                <td class="right">1000,00</td>
                <td class="right"></td>
            </tr>
            <tr>
                <td>Nebenkosten</td>
                <td>SWB</td>
                <td></td>
                <td>28.04.2021</td>
                <td class="right">120,00</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Gas</td>
                <td>28.04.2021</td>
                <td></td>
                <td class="right">80,00</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Strom</td>
                <td>28.04.2021</td>
                <td></td>
                <td class="right">40,00</td>
            </tr>
        </tbody>
    </table>
</div>
