.card {
    margin-top: 10px;
}

.dataItem {
    font-size: large;
}

.dataItem .label {
    width: 120px;
    display: inline-block;
    text-align: right;
    padding-right: 5px;
    font-weight: bold;
}

td {
    padding-left: 5px;
    padding-right: 5px;
}