<form [formGroup]="buchenForm">
    <div class="form-row">
        <div class="form-group col-3">
            <label for="empfaenger">Empfänger</label>
            <input type="text" class="form-control" formControlName="empfaenger" id="empfaenger">
        </div>
        <div class="form-group col-3">
            <label for="verwendung">Verwendung</label>
            <input type="text" class="form-control" formControlName="verwendung" id="verwendung">
        </div>
    </div>

    <fieldset class="mb-3" formArrayName="umsaetze">
        <div class="row">
            <div class="col-3">
                <label for="konto">Konto</label>
            </div>
            <div class="col-2">
                <label for="valuta">Valuta</label>
            </div>
            <div class="col-1">
                <label for="auszahlung">Auszahlung</label>
            </div>
            <div class="col-1">
                <label for="einzahlung">Einzahlung</label>
            </div>
        </div>
        <div *ngFor="let umsatz of umsaetze.controls; let i=index">
            <div class="row mb-3" [formGroupName]="i">
                <div class="col-3">
                    <select class="form-control" formControlName="konto" id="konto">
                        <option *ngFor="let konto of konten" ngValue="{{konto.name}}">{{konto.name}}</option>
                    </select>
                </div>
                <div class="col-2">
                    <input type="date" class="form-control" formControlName="valuta" id="valuta">
                </div>
                <div class="col-1">
                    <input type="text" class="form-control text-right" formControlName="auszahlung" id="auszahlung">
                </div>
                <div class="col-1">
                    <input type="text" class="form-control text-right" formControlName="einzahlung" id="einzahlung">
                </div>
                <div class="col-1">
                    <button class="btn btn-info" (click)="addUmsatz()">+</button>
                </div>
            </div>
        </div>
    </fieldset>

    <button type="button" class="btn btn-primary mr-3"  (click)="onBuchen()" [disabled]="!buchenForm.valid">Speichern</button>
    <button type="button" class="btn btn-light" (click)="onAbbrechen()" >Abbrechen</button>
</form>
