<h3>Assetdetails - {{ modus }}</h3>

<div class="text-danger">
    {{ errorMessage }}
</div>

<form [formGroup]="assetForm">
    <div class="mb-3">
        <label for="Name" class="form-label">Name</label>
        <input
            type="text"
            class="form-control"
            id="Name"
            autofocus
            placeholder="Assetname"
            formControlName="name">
    </div>
    <div class="mb-3">
        <label for="WPK" class="form-label">WPK</label>
        <input
            type="text"
            class="form-control"
            id="WPK"
            placeholder="WPK"
            formControlName="wpk">
    </div>
    <div class="mb-3">
        <label for="ISIN" class="form-label">ISIN</label>
        <input
            type="text"
            class="form-control"
            id="ISIN"
            placeholder="ISIN"
            formControlName="isin">
    </div>
</form>

<div>
    <button class="btn btn-light" (click)="onZurueck()">Zurück</button>
    <button class="btn btn-primary ms-3" (click)="onSave()" [disabled]="!assetForm.valid">Speichern</button>
</div>
